/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
header .carousel-slider {
height:600px !important;}

.flex-row{
	display: flex;
	flex-flow: row wrap;
}
.flex-col{
	flex-grow: 1;
	flex-shrink: 1;
	height: 250px;
	width: 100px;
}
/* Carousel Demo Backgrounds */
.demoBgn{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.demoback1{
	background-image: url(../images/main-carousel/demoImg1.png);
}
.demoback2{
	background-image: url(../images/main-carousel/demoImg2.jpg);
}
.demoback3{
	background-image: url(../images/main-carousel/demoImg3.jpg);
	background-position: initial;
}
.demoback4{
	background-image: url(../images/main-carousel/demoImg4.jpg);
}

/* Clients Carousel */
#owl-clients .item{
	padding: 10px;
}